@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,500;1,800&display=swap');

@font-face {
    font-family: 'Darwin';
    src: url("/resources/DarwinSerif-Regular.ttf");
}

h1,h2,h3 {
    font-style: italic;
}

a {
    color: #aa0000;
}

html {
    font-family: 'Darwin';
    color: #222222;
    background-color: #f9f9f9;
    font-style: normal;
}

body {
    width: 80%;
    margin: 0 auto;
}

#preamble {
    display: none;
}

#postamble {
    display: none;
}

#topbar {
    position: fixed;
    padding: 0;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    top: 120px;
    left: calc(50% - 650px);
}

#content {
    max-width: 70ch;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    line-height: 1.5em;
}

#social-links > a > img {
    filter: brightness(20%);
    width: 25px;
    height: 25px;
    margin: 2px;
    
}

#topbar > a {
    padding-left:2px;
    padding-right:2px;
}

#topbar > a:after {
    content: "\a";
    white-space: pre;
}

.org-src-container {
    background: #f4f4f4;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #c5c4c4;
    overflow-x: scroll;
}

.example {
    background: #f4f4f4;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #c5c4c4;
    overflow-x: scroll;
}

#profile-picture {
    border-radius: 500px;
    width: 150px;
}


@media only screen and (max-width: 1000px) {
    body {
	width: 100%;
    }

    #topbar {
	position: absolute;
	top: 0;
	left: calc(50% - 150px);
	border-bottom: 1px solid #b3b3b3;
    }

    #topbar > img#profile-picture {
	display: none;
    }

    div#content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 170px;
    }
}

.figure {
    text-align: center;
    font-style: italic;
    color: gray;
    width: 90%;
    margin: 50px auto 50px auto;
}

.figure > p > img {
    border-radius: 10px;
}

.figure-number {
    font-weight: bolder;
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    #content { 
	margin-left: 30%;
    }
    #topbar {
	left: calc(50% - 550px);
    }
}
